input{
	width: 180px;
}

label{
	font-size: 20px;
	height: 60px;

	margin: 0;
	margin-top: 10px;
}

#root{
	display: flex;
	justify-content: center;
	align-items: center;

	height: 29em;
}

#App{
	display: flex;
	flex-wrap: wrap;

	background-color: var(--cor-background-do-container);
	color: var(--cor-do-texto);

	width: var(--largura-app);
	height: var(--altura-app);
}

#display-digito{
	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 90px;
	font-weight: bold;

	min-width: var(--largura-app);
	height: 90px;

	border: 1px solid white;
}

#contador, #alterar-valor{
	min-width: var(--largura-contador);
	height: var(--altura-contador);

	border: 1px solid white;
}

#contador #alterar-passo, #alterar-valor #input-label{
	display: flex;
	flex-direction: column;
	align-items: center;

	height: 70px;
}

#botoes, #botao{
	display: flex;
	align-items: center;
	justify-content: center;

	margin-top: 9px;
	margin-bottom: 10px;
}