input{
	width: 180px;
	border-radius: 8px;
}

input:hover{
	border: 2px solid var(--cor-do-hover);
	border-radius: 8px;
}

input:focus{
	outline: none;
	border: 3px solid var(--cor-do-hover);
	border-radius: 8px;
}

label{
	font-size: 20px;
	height: 60px;

	margin: 10px;
}

#root{
	display: flex;
	justify-content: center;
	align-items: flex-start;

	height: 29em;
}

#App{
	background-color: var(--cor-background-do-container);
	color: var(--cor-do-texto);

	width: var(--largura-app);
	height: var(--altura-app);
}

#display-digito{
	flex: 1;

	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 90px;
	font-weight: bold;

	min-width: var(--largura-flex-itens-nivel-1);
	height: 90px;

	border-bottom: 2px solid white;

}

.input-label{
	display: flex;
	flex-direction: column;
	align-items: center;

	height: 70px;	
}


.botoes{
	display: flex;
	align-items: center;
	justify-content: center;

	margin-top: 20px;
	margin-bottom: 10px;
}

#contador, #alterar-valor{
	flex: 2;

	min-width: var(--largura-flex-itens-nivel-2);
	height: var(--altura-flex-itens-nivel-2);
}

#contador{
	height: 155px;
}

#display-digito, #contador{
	border-bottom: 2px solid white;
}