:root{
	--cor-background-do-site: #F7FFFF;
	--cor-background-do-container: #190933;
	--cor-do-texto: #F2F2F2;
	--cor-do-botao: #AA4465;
	--cor-do-hover: #AA4465;

	--largura-app: 466px;
	--altura-app: 258px;

	--largura-flex-itens-nivel-1: var(--largura-app);

	--largura-flex-itens-nivel-2: 231px;
	--altura-flex-itens-nivel-2: 172px;
}

